.App {
  display: grid;
  grid-template-columns: 55%;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 60% 40%;
}

.product {
  border: 1px solid red;
}

.form {
  border: 1px solid blue;
  display: flex
}

input,
label {
  display: block;
}